body{
  background: rgb(33, 223, 215);
  box-sizing: border-box;
}

.enemyWrap{
  width:100%;
  height:250px;
  margin:0 auto;
  border:3px solid black;
}

#enemyLife{
  width:80%;
  height:20px;
  background:rgb(33, 223, 215);
  margin:0 auto;
  margin-top:5px;
  border-radius: 5px;
  border:2px solid black;
}

#enemyLifeIn{
  transition: width 1s;
  height:100%;
  width:100%;
  background:red;
  border-radius: 5px;
}

#enemy{
  margin:0 auto;
  margin-top: 40px;
  height:150px;
  width:150px;
}

#enemyPic{
  height:150px;
  width:150px;
}


.youWrap{
  position: relative;
  top: 40px;
  width:100%;
  height:320px;
  margin:0 auto;
  border:3px solid black;
}


#youLife{
  width:80%;
  height:20px;
  background:rgb(33, 223, 215);
  margin:0 auto;
  margin-top:5px;
  border-radius: 5px;
  border:2px solid black;
}

#youLifeIn{
  transition: width 1s;
  height:100%;
  width:100%;
  background: yellow;
  border-radius: 5px;
}

#yourselfwrap{
height :200px;
width:100%;
display: flex;
justify-content: space-around;
align-items: center;
position: absolute;
top: 0;
bottom:0;
margin: auto;
}


#you1{
  height:150px;
  width:150px;
}

#you2{
  height:150px;
  width:150px;
}

#you3{
  height:150px;
  width:150px;
}

.youPic{
  height:150px;
  width:150px;
  cursor: pointer;
}

#btn{
  position:relative;
  bottom:30px;
  left:50px;
  width:100px;
  height:30px;
  border: 1px solid black;
  background:rgb(15, 76, 196);
  line-height: 30px;
  text-align: center;
  font-family: impact;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px  rgb(8, 47, 55);
  color:white;
}

#btn.pushed{
  position: relative;
  bottom:27px;
  box-shadow: 1px 1px  rgb(8, 47, 55);
}
